.Contador input{
    font-size: 1,4rem;
    width: 60px;
}
.Contador button{
    margin: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: #fff;
    font-size: 1.4rem;
    background-color: rgb(35, 73, 20);
    color: #fff;
}